@{
    ViewData["Title"] = "About Us";
    ViewData["des"] = "EBOOK LTD, Sri Lankan Biggest online book shop. Order online and get the books delivered to your doorstep.";
    ViewData["metaimg"] = @Context.Request.Scheme + "://" +@Context.Request.Host + "/images/logo/ad_logo.png";
    Layout = "~/Views/Shared/Front/_Layout.cshtml";
}


<style>
    .mainmenu__nav .meninmenu li a
    {
            color: #000;
    }

	.blureffect
	{
		/* Add the blur effect */
		filter: blur(1px);
		-webkit-filter: blur(1px);
	}
    .section-padding--lg {
        padding: 40px 0 100px 0;
    }
</style>

       <div class="ht__bradcaump__area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner">
                        	<h2 class="bradcaump-title">About Us</h2>
                            <nav class="bradcaump-content">
                              <a class="breadcrumb_item" asp-route="Home">Home</a>
                              <span class="brd-separetor">>></span>
                              <span class="breadcrumb_item active">About Us</span>
                            </nav>
                        </div>
						<hr style="margin-top:10px;">
                    </div>
                </div>
            </div>
        </div>
		
        <!-- End Bradcaump area --> 
        @* <div class="cart-main-area section-padding--lg bg--white mt--10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
        				<div class="section__title--3 text-center pb--30">
        					<h2>About Us</h2>
        				</div>
        			</div>
                </div>
            </div>
        </div> *@



        <div class="page-about about_area bg--white section-padding--lg">
        	<div class="container">
				<div class="row">
        			<div class="col-lg-12">
        				<div class="section__title--3 text-center pb--30">
        					<h2>About Us</h2>
        				</div>
        			</div>
        		</div>
        		<div class="row align-items-center">
					<div class="col-lg-6 col-sm-12 col-12">
        				<div class="content text-left text_style--2">
    					    <h2>we have skills to show</h2>
    					    <div class="skill-container">
    					        <!-- Start single skill -->
    					        <div class="single-skill">
    					            <p>Customer Favorites</p>
    					            <div class="progress">
    					                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%"><span class="pen-lable"></span>
    					                </div>
    					            </div>
    					        </div>
    					        <!-- End single skill -->
    					        <!-- Start single skill -->
    					        <div class="single-skill">
    					            <p>Popular Authors</p>
    					            <div class="progress">
    					                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%"><span class="pen-lable"></span>
    					                </div>
    					            </div>
    					        </div>
    					        <!-- End single skill -->
    					        <!-- Start single skill -->
    					        <div class="single-skill">
    					            <p>Bestselling Series</p>
    					            <div class="progress">
    					                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100" style="width:93%"><span class="pen-lable"></span>
    					                </div>
    					            </div>
    					        </div>
    					        <!-- End single skill -->
    					        <!-- Start single skill -->
    					        <div class="single-skill">
    					            <p>Bargain Books</p>
    					            <div class="progress">
    					                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%"><span class="pen-lable"></span>
    					                </div>
    					            </div>
    					        </div>
    					        <!-- End single skill -->
    					    </div>
        				</div>
        			</div>
        			<div class="col-lg-6 col-sm-12 col-12">
        				<div class="content">
        					<h3>Buy Book</h3>
        					<h2>Different Knowledge</h2>
        					<p class="mt--20 mb--20">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
        					<strong>Sri Lanka Address</strong>
        					<p>34 Parer Place , Colombo, 00300</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>